<nav class="navbar navbar-expand-lg navbar-dark shadow-2" style="background-color: #3f51b5;">
  <div class="container">
    <a class="navbar-brand fw-bold" href="{% url 'index' %}">FoodHub</a>

    <button class="navbar-toggler" type="button" data-mdb-collapse-init data-mdb-target="#navbarNav">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
      </ul>

      <ul class="navbar-nav">
      </ul>
    </div>
  </div>
</nav>